<p id="notice"><%= notice %></p>
<div class="quiz-awakens">
<%= image_tag ("the_force_awakens.png"), class: 'logo' %>
</div>
<br>

<div class="choice">
<h3>Choose your path...<h3>
<button type="button" class="path"><a class="path" href="/lights/new"><%= image_tag ("rebel_alliance.png"), class: 'alliance' %></a></button>
<button type="button" class="path"><a class="path" href="/darks/new"><%= image_tag ("empire.png"), class: 'alliance' %></a></button>
</div>
