<div id="titles">
  <div id="titlecontent">

    <p>LEADERBOARD</p>

    <p>1. Supriya</p>

    <p>2. Raquel</p>

    <p>3. Phil</p>

    <p>4. Tim</p>

    <p>5. Boba Fett</p>

    <p>6. Jango Fett</p>

    <p>7. Darth Vader</p>

    <p>8. Some other guy</p>

    <p>9. George</p>

    <p>10. Yeah...</p>
    </div>
</div>

<p>Scroll credit: <a href="http://codepen.io/webdevaddict/pen/vOOVEG">Heather Wilson</a></p>
