<form id="form-create-dark" action="/users" method="post">
  <h1 class="form-create-heading">Create your Sith name!</h1>
  <input type="text" name="user[username]" placeholder="Username" required autofocus>
  <input type="hidden" name="user[light_dark]" value="false">
  <input type="submit" value="Create Sith">
  <p>Already a player?</p>
</form>

<div class="darklightsaber">
  <%= image_tag ("darklightsaber.png"), class: 'darklightsaber' %>
</div>
