/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "StarJedi";

body {
  background-image: url(/assets/stars-carousel.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #E6AF4F;
}
.quiz-awakens {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 40vh;
  margin-bottom: -5vh;
}

.path {
  background: none;
  border-radius: 50%;
  outline: inherit;
  outline-color: invert;
}

.choice {
  font-family: StarJedi;
  font-size: 3em;
  color: #E6AF4F;
  text-shadow: 5px 5px 5px black;
  text-align: center;
  margin: 0 auto;
}

.alliance {
  height: 25vh;
}

input[type="submit"]
{
  display: block;
  width: 40vw;
  margin: 5vh auto;
  height: 40px;
  padding: 0 30px 10px 30px;
  color: #E6AF4F;
  text-align: center;
  font-family: StarJedi;
  font-size: 16px;
  line-height: 38px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #E6AF4F;
  cursor: pointer;
  box-sizing: border-box; }
input[type="submit"]:hover,
input[type="submit"]:focus{
  color: #333;
  border-color: #888;
  outline: 0; }
input[type="submit"].button-primary{
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
input[type="submit"].button-primary:hover,
input[type="submit"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
input[type="text"]{
  display: block;
  width: 40vw;
  margin: 5vh auto;
  height: 40px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
input[type="text"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="text"]:focus,
textarea:focus{
  border: 1px solid #33C3F0;
  outline: 0; }

#form-create-light {
  display: block;
  text-align: center;
  margin-top: 20vh;
  color: #E6AF4F;
}

#form-create-dark {
  display: block;
  text-align: center;
  margin-top: 20vh;
  color: rgb(113, 1, 15);
}

h1 {
  font-family: Starjedi;
}

.lightsaber {
  display: none;
  z-index: -1;
  opacity: 0.9;
  height: 55vh;
  position: absolute;
  top: 7.5vh;
  left: 47.5%;
}

.darklightsaber {
  display: none;
  z-index: -1;
  opacity: 0.9;
  height: 55vh;
  position: absolute;
  top: 7.5vh;
  left: 47.5%;
}

.choice a {
  margin-top: -5vh;
  text-decoration: none;
  color: #E6AF4F;
  background: none;
}
.login-prompt {
  margin-top: -2.5vh;
}

.kerning {
  letter-spacing: 5px;
}
.question-wrap {
  margin-top: 20vh;

}
/*.questions {
  font-family: Starjedi;
  font-size: 18px;
  margin-top: 30vh;
  margin-left: 20vw;
  text-align: center;
  padding: 5vh;
  width: 50vw;
  border: 5px solid #E6AF4F;
  border-radius: 12px;
}*/

.yoda {
  height: 45vh;
  position: absolute;
  z-index: 1;
  top: 35vh;
  left: 2.5vw;
}

.darth {
  height: 90vh;
  position: absolute;
  z-index: 1;
  top: -2.5vh;
  left: 80vw;
}


.logo2 {
  height: 7.5vh;
  position: absolute;
  top: 2.5vh;
  left: 2.5vw;
}
.answers {
  display: inline-block;
}

.question1, .question2, .question3 {
  display: none;
  font-family: Starjedi;
  font-size: 18px;
  margin-top: 15vh;
  margin-left: 10vw;
  text-align: center;
  padding: 2.5vh 5vw;
  width: 70vw;
  border: 5px solid #E6AF4F;
  border-radius: 12px;
}

/*SCROLL*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg);
	-moz-transform: perspective(300px) rotateX(25deg);
	-ms-transform: perspective(300px) rotateX(25deg);
	-o-transform: perspective(300px) rotateX(25deg);
	transform: perspective(300px) rotateX(25deg);
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p
{
	text-align: justify;
	margin: 0.8em 0;
}

#titles p.center
{
	text-align: center;
}

#titles a
{
	color: #ff6;
	text-decoration: underline;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 100s linear 1s infinite;
	-moz-animation: scroll 100s linear 1s infinite;
	-ms-animation: scroll 100s linear 1s infinite;
	-o-animation: scroll 100s linear 1s infinite;
	animation: scroll 100s linear 1s infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

/*Lightsaber Spin*/
.spinny {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: spinspin;
}

/* elements with class of spinny should start off as such... */
@-webkit-keyframes spinspin {
  0% {
    top: 7.5vh;
    left: 0%;
    -webkit-transform: rotate(0deg);

  }
  100% {
    top: 7.5vh;
    left: 47.5%;
    -webkit-transform: rotate(360deg);

  }
}
