@font-face {
    font-family: 'StarJedi';
    src: asset-url('Starjedi-webfont.eot');
    src: asset-url('Starjedi-webfont.eot?#iefix') format('embedded-opentype'),
           asset-url('Starjedi-webfont.woff') format('woff'),
           asset-url('Starjedi-webfont.ttf') format('truetype'),
           asset-url('Starjedi-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
